@charset "utf-8";
@font-face {
    font-family: 'TAEBAEKfont';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/TAEBAEKfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #141226 0%, #FF5EC4 100%);
    
    
}

h1 a{
    font-family: 'TAEBAEKfont';
    font-size: 7rem;
    background: linear-gradient(to right, #DAF064 0%, #645DD1 100%);
    background-clip: text;
    color: transparent;
    text-align: center;
    line-height: 9rem;
    opacity: 80%;
}